---
---
@import "{{ site.theme }}";

.inline-container {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.inline-container > img,
.inline-container > strong {
    vertical-align: middle;
    line-height: normal;
}

.inline-container > img {
    display: inline-block;
    width: 2.5em;
}

.h1::before {
	content: url("images/noun_lab_3020051.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
}