---
---
@import "{{ site.theme }}";

.inline {
    margin-top: 2em;
    margin-bottom: 2em;
}
.inline-container > img,
.inline-container > strong {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/*   display: inline-block; */