---
---
@import "{{ site.theme }}";

.inline-container {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.inline-container > img,
.inline-container > strong {
    vertical-align: middle;
    line-height: normal;
}

.inline-container > img {
    display: inline-block;
    width: 2.5em;
}

div.markdown-body > h1:first-child::before {
	content: url("../../images/noun_lab_3020051_100.png");
	display: inline-block;
	position: relative;
	width: 100px;
	top: 25px;
	padding-right: 100px;
}